<h1>Bem-vindo ao sistema de aluguel de carros!</h1>

<% if user_signed_in? %>
  <p>Olá, <%= current_user.name %>! (<%= link_to 'Sair', destroy_user_session_path, method: :delete %>)</p>
<% else %>
  <%= link_to "Entrar", new_user_session_path %> |
  <%= link_to "Registrar", new_user_registration_path %>
<% end %>